<div class="field">
  <label *ngIf="label" [attr.for]="name">{{ label }}</label>
  <input
    type="text"
    class="input"
    [formControl]="control"
    [placeholder]="placeholder || ''"
    [attr.name]="name"
    [attr.id]="name"
  />
  <small class="error" *ngIf="control?.touched && control?.invalid">
    <ng-container *ngFor="let err of (control?.errors | keyvalue)">
      {{ err.value }}
    </ng-container>
  </small>
  <small class="hint" *ngIf="!control?.touched && placeholder">{{ placeholder }}</small>
</div>
